body {
	background-color: antiquewhite;
}
.gameboards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 100px;
}
.gameboard-interface {
	display: grid;
	grid-template-columns: repeat(8, 50px);
}
.cell {
	border: 2px solid black;
	height: 50px;
	background-color: aquamarine;
}
.cell:hover {
	background-color: aqua;
}
.cell:focus {
	background-color: antiquewhite;
}
.ships-container {
	border: 1px solid violet;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 5px;
}
.ship {
	background-color: burlywood;
	height: 50px;
	min-width: 50px;
}
.ship:hover {
	background-color: pink;
}
